.destaques-container {
    display: flex;
  }

.container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imgDestaques {
  width: 200px;
}

.titulosDestaques {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    padding: 10px;
    color: white;
    background-color: rgba(118, 115, 115, 0.5);
    text-align: center;
    transform: translate(-50%, -50%);
  }