.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 10px;
    margin-top: 18px;
    display: flex;
    align-items: center; 
    color: #ffffff;
    padding: 8px 16px;
    width: 100%;
    border: none;
    border-radius: 4px;
    justify-content: center;
    font-weight: bold;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.footer-icon {
    position: relative;
    margin-right: 16px;
    margin-bottom: 4px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.title-wrapper,
.image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-wrapper h1 {
    width: 400px;
}
.title-wrapper img {
    width: 300px;
}



.social-logo {
    position: relative;
    height: 50px;
    width: 50px; 
    margin: 8px;
    border-radius: 50%; 
  }
  
  @media screen and (max-width: 1000px) {
    .social-logo { 
      height: 75px;
      width: 75px; 
    }
  }
  
  @media screen and (max-width: 600px) {
    .social-logo { 
      height: 60px;
      width: 60px; 
    }
  }
