.produtos-container {
  min-height: 60%;
  width: 100%;
  padding: 0% 8% 8% 8%;
}

.produtos-section-title { 
  width: 100%;
  color: white;      
  text-align: center;
  margin-top: 32px;
  color: #FFF; 
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Athiti;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.produtos-title { 
  width: 100%;
  color: white;  
  font-size: 35px;    
  margin-top: 16px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Athiti; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.slider { 
 
}

.slick-slide > div {
  margin: 0 20px;
}
.slick-list {
  margin: 0 -20px;
}

@media screen and (max-width: 600px) {
  .produtos-section-title {
    font-size: 30px;  
  }
  .produtos-container { 
    padding: 0% 5% 5% 5%;
    width: 200px;
    height: 600px;
  }
  
 
}