.areaPrincipalHistoria {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; 
}

.tituloSessaoHistoria {
  flex-basis: 100%; /* Adicionado */
  text-align: center; /* Adicionado */
  margin-bottom: 32px; /* Adicionado */
  font-size: 30px;
  color: white;
  background-color: blue;
}

.columns-container {
  margin-top: -50px;
  display: flex;
  width: 90%;

}

.esquerda-column {
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direita-column {
  color: white;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: justify;
}


.jordan {
  height: 150px;
  width: 150px;
  z-index: 20;
  transform: scale(1.75);
  border-radius: 20px;
}

.outra-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  width: 50%;
  height: 100px;
  background-color: blue;
}

.div2 {
  width: 50%;
  height: 100px;
  background-color: orange;
}


/* @media only screen and (max-width:800px) {
  #tituloPrincipal {
      font-size: 50px; 
  }
  #subtitulo {
      font-size: 15px;
  }

  .right-column { 
      padding-left: 50px;  
  }     
  .left-column { 
      margin-left: -25px;  
  }  
  .imagemPrincipal {
      height: 200px;
      width: 200px; 
  }  
}

@media only screen and (max-width:500px) {
  .principal{
      height: 100vh;
  }

  .area {
      flex-direction: column;
      height: 100vh;
  }
  
  .left-column,
  .right-column {
      width: 100%;
      align-items: center;
      height: 50%;
      padding: 0px;
      margin: 0px;
  } 
  .left-column {  
      align-items: bottom; 
      justify-content: end;
  }
  
  .right-column {
      margin-top: 20px;
      justify-content: start;
  }
} */