.destaques-container {
  display: flex;
  position: relative;

}

.container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px; /* Ajuste a margem superior conforme necessário */
}

.imgDestaques {
  width: 200px;
  position: relative;

}

.titulosDestaques {
  position: relative;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: rgba(118, 115, 115, 0.5);
  text-align: center;
  margin: auto;
}
