.card-container { 
    width: 100%; 
    height: 100vh; 
    max-height: 300px;  
    display: flex;
    align-items: center;
    position: relative;
    background-color: red; 
    justify-content: center;
    margin: 0 10px;
}  

.card-image {
    width: 100%; 
    height: 100%; 
    flex: 1;
    margin: auto;
    background-color: white; 
}

.card-title {   
    position: absolute;
    top: 50%; 
    width: 100%;
    z-index: 1000;
    left: 50%; 
    text-align: center;
    font-size: 24px;   
    transform: translate(-50%, -50%);  
    text-align: center; 
    color: #000;
    text-align: center;
    font-family: Quantico;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: rgba(239, 239, 239, 0.80);
    padding: 10px 60px 10px 60px; 
}
 
@media only screen and (max-width:1240) {
    .card-container { 
        /* width: 200px;  */
        height: 200px;   
    }  
}

@media only screen and (max-width:700px) {
    .card-container { 
        /* width: 100px;  */
        /* height: 100px;    */
    }  
}