

img {
  width: 40px;
  position: absolute;
  z-index: 1000;
  margin: 5px 0 0 10px;
}

.desktop-text {
  display: none;
  color: white;
  font-size: 100px;
  margin: 5px 0 0 10px;
  z-index: 100;
}

@media screen and (min-width: 600px) {

  .desktop-text {
    font-size: 25px;
    color: white;
  }
}