@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Quantico:ital,wght@1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Athiti', sans-serif;
}

body{
    background-color: #000000ea;
}

section {
    max-width: 1280px;
    display: flex;
    justify-content: center; 
    width: 90%;
    margin: 50px auto;
    border: 1px solid white;
}


.divisoria {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    width: 90%;
    background-color: rebeccapurple;
    margin: 30px auto; 
    padding: 50px;
}

.divisoriaForm {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    width: 90%;
    background-color: rebeccapurple;
    margin: 30px auto; 
    padding: 50px;

}

.divisor {
    width: 50%;
}

@media only screen and (max-width:800px) {
    .divisoria,
    .divisoriaForm  {
        flex-direction: column;
        padding: -300px;
    }
    .divisor {
        width: 100%;
    }
}

/* main, footer {
    border: 1px solid black;
    background-color: black;
}

.borda {
    width: 90%;
    border: 2vw solid white; Largura da borda responsiva
  box-sizing: border-box; 
}

.sessao {

    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
} */