

.faq-container {
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.faq-container h1 {
  margin-bottom: 30px; 
  text-align: center;
}


.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px
}

.faq-answer {
  display: none;
}

.faq-answer.show {
  display: block;
}
