

.faq-container {
  width: 100%;  
  background-color: beige;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px
}

.faq-answer {
  display: none;
}

.faq-answer.show {
  display: block;
}
